<header id="hero" class="snap-section">
    <div class="hero-content">
<h1 class="i18n" lang="de" [class.active]="currentLang === 'de'">Vom Fundament zum Framework. <br>Ein Problemlöser. Zwei Welten.</h1>
<h1 class="i18n" lang="en" [class.active]="currentLang === 'en'">From Foundation to Framework. <br>One Problem Solver. Two Worlds.</h1>
<h1 class="i18n" lang="es" [class.active]="currentLang === 'es'">De la Cimentación al Framework. <br>Un Solucionador. Dos Mundos.</h1>

<p class="i18n" lang="de" [class.active]="currentLang === 'de'">Ich verbinde 20 Jahre Praxiserfahrung mit modernen Full-Stack-Fähigkeiten.</p>
<p class="i18n" lang="en" [class.active]="currentLang === 'en'">I combine 20 years of hands-on experience with modern full-stack skills.</p>
<p class="i18n" lang="es" [class.active]="currentLang === 'es'">Combino 20 años de experiencia práctica con modernas habilidades full-stack.</p>
    </div>
</header>