<header id="hero" class="snap-section">
    <div class="hero-content">
    
<div class="profile-image-wrapper">
  <img src="assets/img/DannyKlein.png" alt="Profilbild von Danny Focke">
</div>
<h1 class="i18n active" lang="de">Vom Fundament zum Framework. <br>Ein Problemlöser. Zwei Welten.</h1>
        <h1 class="i18n" lang="en">From Foundation to Framework. <br>One Problem Solver. Two Worlds.</h1>
        <h1 class="i18n" lang="es">De la Cimentación al Framework. <br>Un Solucionador. Dos Mundos.</h1>

        <p class="i18n active" lang="de">Ich verbinde 20 Jahre Praxiserfahrung mit modernen Full-Stack-Fähigkeiten.</p>
        <p class="i18n" lang="en">I combine 20 years of hands-on experience with modern full-stack skills.</p>
        <p class="i18n" lang="es">Combino 20 años de experiencia práctica con modernas habilidades full-stack.</p> 
    </div>
</header>