
:host {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

main {
  flex-grow: 1; 
  overflow-y: auto; 
  
  
}

app-header, app-footer {
  flex-shrink: 0; 
}

app-root > router-outlet {
  display: block; 
  flex-grow: 1;   
}