<section id="skills">
    <div class="container">
        <h2>Meine Fähigkeiten</h2>
        <div class="skills-grid">
            <div class="skill-card">
                <img src="assets/icon/HTML.svg" alt="HTML Icon">
                <span>HTML5</span>
            </div>
            <div class="skill-card">
                <img src="assets/icon/JavaScript.svg" alt="JavaScript Icon">
                <span>JavaScript</span>
            </div>
             <div class="skill-card">
                <img src="assets/icon/TypeScript.svg" alt="TypeScript Icon">
                <span>TypeScript</span>
            </div>
            <div class="skill-card">
                <img src="assets/icon/Angular.svg" alt="Angular Icon">
                <span>Angular</span>
            </div>
            <div class="skill-card">
                <img src="assets/icon/Firebase.svg" alt="Firebase Icon">
                <span>Firebase</span>
            </div>
             <div class="skill-card">
                <img src="assets/icon/GIT.svg" alt="GIT Icon">
                <span>GIT</span>
            </div>
            </div>
    </div>
</section>